* {
  margin: 0px;
  padding: 0;
}

:root {
  --Bege: rgba(199, 161, 122, 0.5);
  --Marrom: #5c4b3a;
  --Laranja: #dc6d35;
}

/*Login*/
.container-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 96vh;
  justify-content: center;
  align-items: center;
}

#login-form {
  width: 480px;
  height: auto;
  background-color: var(--Bege);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat";
  color: var(--Marrom);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#email,
#password {
  width: 380px;
  font-family: "Montserrat";
  color: var(--Marrom);
  border: none;
  border-radius: 12px;
  outline: none;
  padding: 12px;
  font-size: 18px;
}

.cadastre-se {
  font-family: "Montserrat";
  font-weight: 500;
  color: var(--Marrom);
}

#show-signup {
  font-family: "Montserrat";
  color: var(--Laranja);
  text-decoration: none;
}

.botao-submit {
  padding: 6px 40px;
  color: var(--Marrom);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  outline: none;
  border: none;
  cursor: pointer;
}

.botao-submit:hover {
  color: var(--Laranja);
}

.volta {
  display: flex;
  gap: 4px;
  height: 4vh;
}

.botao-voltar {
  padding: 0 px;
  color: var(--Marrom);
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  border-radius: 12px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 12px;
  margin-top: 16px;
}

.botao-voltar:hover {
  color: var(--Laranja);
}

/*Cadastro*/
#signup-form {
  width: 480px;
  height: auto;
  background-color: var(--Bege);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  color: var(--Marrom);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  flex-direction: column;
}

#signup-email,
#signup-password {
  width: 380px;
  font-family: "Montserrat";
  color: var(--Marrom);
  border: none;
  border-radius: 12px;
  outline: none;
  padding: 12px;
  font-size: 18px;
}
