* {
  margin: 0px;
  padding: 0;
}

:root {
  --Bege: rgba(199, 161, 122, 0.5);
  --Marrom: #5c4b3a;
  --Laranja: #dc6d35;
}

.No-decoration {
  text-decoration: none;
  color: inherit;
  transition: color 0.4s;
}

.No-decoration:hover {
  color: orange; /* Muda para laranja ao passar o mouse */
}

/*-------------------- Navbar e Inicio -----------------------------------*/
.menu-toggle {
  display: none;
}

/* Estilo do botão hambúrguer (visível apenas em mobile) */
.menu-button {
  display: none; /* Oculta inicialmente */
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.Navbarsite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12vh;
  background-color: var(--Bege);
  padding-top: 20px;
}

.Navbarinterna {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  background-color: white;
  align-items: center;
  color: var(--Marrom);
  font-size: 1.5vw;
  font-family: "Montserrat";
  border-radius: 8px;
}

.Logo {
  width: 7.5vw;
}

.ItensNavBar {
  display: flex;
  gap: 40px;
}

#SectionInicio {
  width: 100%;
  height: 88vh;
  background-color: var(--Bege);
  display: flex;
  justify-content: center;
  position: relative;
}

.SectionInicioInterna {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  gap: 120px;
}

.TextoMaisGrosso {
  color: var(--Marrom);
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 2vw;
}

.SectionInicioInterna h1 {
  font-size: 3vw;
  font-family: "Montserrat";
  font-weight: 800;
  color: var(--Marrom);
}

.sabor-magico {
  color: var(--Laranja);
}

.TextoMenor {
  color: var(--Marrom);
  font-size: 2.2vw;
  font-family: "Montserrat";
  font-weight: 400;
}

.TextoEsquerdaLeo {
  width: 60%;
}

.Doce {
  width: 20vw;
}

.Hamburguer {
  display: none;
}

/*---------------Separadores de section desktop ------------*/

.Separador {
  margin-top: -51px;
  position: relative;
  pointer-events: none;
  display: flex;
  justify-content: center;
}

.Separador2 {
  margin-bottom: -50px;
  position: relative;
  pointer-events: none;
  display: flex;
  justify-content: center;
}

.SeparadorImg {
  max-width: 80vw;
  height: auto;
}

/*---------------------------- Beneficios -----------------------------*/
#SectionBeneficio {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.SectionBeneficiosInterna {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  gap: 40px;
}

.SectionBeneficiosInterna .Beneficio {
  width: 22vw;
  margin-top: 20px;
}

.QuadradoImg {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  background-color: var(--Bege);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Vitaminas {
  display: flex;
  width: 100;
  font-family: "Montserrat";
  justify-content: center;
  gap: 80px;
  align-items: center;
}

.TituloVitamina {
  font-size: 2.5vw;
  color: var(--Marrom);
  font-weight: 700;
}

.TextoBeneficio {
  width: 68%;
}

.TextoBeneficio p {
  font-size: 1.7vw;
  color: var(--Marrom);
  font-weight: 400;
}

.AboboraBeneficio {
  width: 240px;
}

.Fibras {
  display: flex;
  width: 100;
  font-family: "Montserrat";
  justify-content: center;
  gap: 80px;
  align-items: center;
  flex-direction: row-reverse;
}

.CocoBeneficio {
  width: 180px;
}
/*------------------------ Comentários --------------------*/
#SectionComentarios {
  padding-top: 40px;
  width: 100%;
  height: auto;
  background-color: var(--Bege);
}

.SectionComentariosInterna {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Slider {
  position: relative;
  width: 100%;
  height: auto;
  padding: 40px 0px;
  background-color: white;
  overflow: hidden;
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  justify-content: center;
}

.Slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.slide-dinamico {
  min-width: 100%;
  width: 80%;
  padding: 0px 80px;
  box-sizing: border-box;
  flex-shrink: 0;
  overflow: hidden;
  word-wrap: break-word;
  overflow-y: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-dinamico div {
  max-width: 100%;
}

/* Botões de navegação */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  color: var(--Marrom);
}

.prev {
  left: 42px;
}

.next {
  right: 42px;
}

.TituloSectionComentarios {
  font-family: "Montserrat";
  color: var(--Marrom);
  margin-top: 20px;
  font-weight: 800;
  font-size: 2vw;
}

.nome-comentario {
  color: var(--Marrom);
  font-weight: 800;
  font-size: 1.6vw;
  margin-bottom: 8px;
}

.texto-comentario {
  color: var(--Marrom);
  font-weight: 500;
  font-size: 1.2vw;
  margin-bottom: 12px;
}

.estrelas {
  font-size: 1.2vw;
}

#SectionFormulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#comentarioForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  gap: 12px;
  color: var(--Marrom);
}

#comentarioForm #nome,
#email {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 12px;
  font-family: "Montserrat";
  color: var(--Marrom);
  font-weight: 600;
  font-size: 1.2vw;
}

#mensagem {
  width: 100%;
  padding-inline: 12px;
  padding-bottom: 36px;
  padding-top: 12px;
  border: none;
  outline: none;
  border-radius: 12px;
  font-family: "Montserrat";
  color: var(--Marrom);
  font-weight: 600;
  resize: none;
  font-size: 1.2vw;
  height: auto;
  min-height: 120px;
}

#nota {
  width: 60%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 12px;
  font-family: "Montserrat";
  color: var(--Marrom);
  font-weight: 600;
  resize: none;
  font-size: 1.2vw;
}

#nota option {
  font-family: "Montserrat";
  color: var(--Laranja);
  max-width: 50px;
}

#ButtonSubmit {
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 12px;
  font-family: "Montserrat";
  color: var(--Marrom);
  font-weight: 600;
  resize: none;
  width: 200px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 1.6vw;
}

#ButtonSubmit:hover {
  color: var(--Laranja);
}

.ComentariosImg {
  width: 22vw;
  margin-top: 20px;
}

/*---------------- Quem Somos ------------------*/
#SectionQuemSomos {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

.QuemSomosInterno {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
  font-family: "Montserrat";
}

.QuemSomosImg {
  width: 22vw;
}

.QuemSomosInterno div h1 {
  color: var(--Marrom);
  font-size: 2vw;
}

.QuemSomosInterno .TextosQuemSomos p {
  color: var(--Marrom);
  font-size: 1.7vw;
  font-weight: 400;
}

.TextosQuemSomos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.SliderQuemSomos {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
}

.SliderQuemSomosInterno {
  width: 100%;
  height: 480px;
  background-color: var(--Bege);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slider em si */
.quem-somos-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

/* Área que segura os slides */
.QuemSomosSlides {
  position: relative;
  width: 100%;
  min-height: 300px;
}

/* Slide individual */
.slide-qs {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}

.bloco-qs {
  background: white;
}

.conteudo-qs {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.foto-qs {
  background-color: white;
  height: 360px;
  width: 260px;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-inline: 40px;
}

.foto-qs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.texto-qs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 560px;
  padding: 20px;
}

.texto-qs h3 {
  font-size: 2vw;
  font-weight: 800;
  margin-bottom: 8px;
  color: var(--Marrom);
}

.texto-qs p {
  font-family: "Montserrat";
  color: var(--Marrom);
  font-size: 1.7vw;
}

.prev-qs,
.next-qs {
  font-size: 62px;
  background: none;
  border: none;
  color: var(--Marrom);
  cursor: pointer;
  transition: transform 0.2s;
}

.prev-qs:hover,
.next-qs:hover {
  transform: scale(1.2);
}

/* Animação de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*----------------- Contato -----------------------*/
#SectionContato {
  width: 100%;
  height: auto;
  background-color: var(--Bege);
  padding: 40px 0px;
  font-family: "Montserrat";
}

.SectionContatoInterno {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContatoImg {
  width: 22vw;
}

.textoContato {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  color: var(--Marrom);
}

.textoContato h1 {
  font-size: 2vw;
  font-weight: 700;
  margin-bottom: 8px;
}

.textoContato p {
  font-size: 1.7vw;
  margin-bottom: 12px;
}

.Zap a {
  color: var(--Marrom);
  font-size: 1.6vw;
  cursor: pointer;
  transition: 0.3s ease-in;
  text-decoration: none;
}

.Zap a:hover {
  color: var(--Laranja);
}

#sheetdb-form {
  width: 80%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: var(--Marrom);
  width: 100%;
  gap: 8px;
}

.form-container input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 12px;
  font-family: "Montserrat";
  color: var(--Marrom);
  font-weight: 600;
  font-size: 1.2vw;
}

.form-container textarea {
  width: 100%;
  padding: 12px;
  height: auto;
  min-height: 120px;
  border: none;
  outline: none;
  border-radius: 12px;
  font-family: "Montserrat";
  color: var(--Marrom);
  font-weight: 600;
  font-size: 1.2vw;
  resize: none;
}

.SubmitContato {
  background-color: var(--Laranja);
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 12px;
  font-family: "Montserrat";
  color: white;
  font-weight: 600;
  width: 200px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 1.6vw;
}

/*------------------ Local --------------------*/
#Local {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 40px 0px;
}

.LocalImg {
  width: 22vw;
  margin-bottom: 20px;
}

.LocalInterno {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  font-family: "Montserrat";
}

.MapaText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.TextLocal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--Marrom);
  width: 40vw;
}

.TextLocal h1 {
  font-size: 2vw;
}

.TextLocal p {
  font-size: 1.7vw;
  font-weight: 400;
}

.Mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Bege);
  width: 34vw;
  height: 52vh;
  padding: 20px;
}

/*---------------- Footer ------------------------*/
footer {
  width: 100%;
  background-color: var(--Bege);
  font-family: "Montserrat";
}

.FooterInterno {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  gap: 80px;
}

.Navegue,
.Contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.LinhaNavegue {
  width: 180px;
  background-color: var(--Laranja);
  height: 4px;
}

.Navegue h1,
.Contato h1 {
  color: var(--Laranja);
  font-size: 2.2vw;
}

.Navegue a {
  color: var(--Marrom);
  text-decoration: none;
  transition: 0.3s ease-in;
  font-size: 1.4vw;
  font-weight: 500;
}

.Navegue a:hover {
  color: var(--Laranja);
}

.LinhaContato {
  width: 180px;
  background-color: var(--Laranja);
  height: 4px;
}

.Zap {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ZapImg {
  width: 28px;
}

.Contato h2 {
  font-size: 1.4vw;
  color: var(--Marrom);
}

.Contato a {
  color: var(--Marrom);
  text-decoration: none;
  transition: 0.3s ease-in;
  font-size: 1.4vw;
  font-weight: 500;
}

.Contato a:hover {
  color: var(--Laranja);
}

.Copyright {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Marrom);
  font-weight: 600;
  padding: 20px 0px;
  font-size: 1.4vw;
}

/*=========================== Parte do responsivo, mobile, tablet e etc =================================*/

@media (max-width: 768px) {
  /*Código responsivel do Inicio e navbar*/

  .Hamburguer {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--Marrom);
    font-size: 32px;
    z-index: 1001;
  }

  .ItensNavBar {
    flex-direction: column;
    background-color: rgba(199, 161, 122, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    clip-path: circle(100px at 90% -20%);
    transition: 1s ease-out;
    pointer-events: none;
    gap: 40px;
    color: white;
    font-size: 20px;
    z-index: 1000;
  }

  nav.active .ItensNavBar {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  nav.active .Hamburguer {
    position: fixed;
  }

  .Logo {
    width: 80px;
  }

  #SectionInicio {
    height: auto;
    padding-bottom: 40px;
    padding-top: 20px;
  }

  .SectionInicioInterna {
    flex-direction: column-reverse;
    height: auto;
    text-align: center;
    gap: 16px;
  }

  .TextoMaisGrosso {
    font-size: 22px;
  }

  .TextoEsquerdaLeo {
    width: 100%;
  }

  .SectionInicioInterna h1 {
    font-size: 32px;
  }

  .TextoMenor {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .Doce {
    width: 180px;
  }

  /*------------------ Separadores de section ---------------------------*/
  .Separador {
    margin-top: -50px;
    position: relative;
    pointer-events: none;
    display: flex;
    justify-content: center;
  }

  .Separador2 {
    margin-bottom: -42px;
    position: relative;
    pointer-events: none;
    display: flex;
    justify-content: center;
  }

  .Separador img {
    max-width: 88vw;
    height: auto;
  }

  /*---------------------------- Responsivel dos Beneficios -----------------------*/
  .SectionBeneficiosInterna .Beneficio {
    width: 200px;
  }

  .Vitaminas {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .QuadradoImg {
    width: 140px;
    height: 140px;
  }

  .AboboraBeneficio {
    width: 160px;
  }

  .TituloVitamina {
    font-size: 20px;
    color: var(--Marrom);
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
  }

  .TextoBeneficio {
    width: 100%;
  }

  .TextoBeneficio p {
    font-size: 16px;
    color: var(--Marrom);
    font-weight: 400;
    text-align: center;
  }

  .Fibras {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #SectionBeneficio {
    height: auto;
    padding-bottom: 80px;
  }

  .CocoBeneficio {
    width: 120px;
  }

  /*------------------ Responsivel dos Comentários ------------------*/
  .ComentariosImg {
    width: 200px;
  }

  .nome-comentario {
    font-size: 20px;
  }

  .texto-comentario {
    font-size: 16px;
  }

  .estrelas {
    font-size: 16px;
  }

  .Slider {
    height: auto;
    padding: 40px 0px;
  }

  .TituloSectionComentarios {
    font-size: 20px;
  }

  #comentarioForm #nome,
  #email {
    width: 100%;
    font-size: 14px;
  }

  #mensagem {
    width: 100%;
    font-size: 14px;
  }

  #nota {
    width: 100%;
    font-size: 14px;
  }

  #ButtonSubmit {
    font-size: 14px;
  }

  /*---------------- Responsivel de Quem Somos -------------------*/
  #SectionQuemSomos {
    padding: 20px 0px;
  }

  .QuemSomosImg {
    width: 200px;
  }

  .QuemSomosInterno .TextosQuemSomos h1 {
    font-size: 20px;
  }

  .QuemSomosInterno .TextosQuemSomos p {
    font-size: 16px;
  }

  .SliderQuemSomosInterno {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .SliderQuemSomos {
    margin-top: 20px;
  }

  .conteudo-qs {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0px;
    width: 100%;
  }

  .foto-qs {
    height: 220px;
    width: 140px;
  }

  .texto-qs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .texto-qs h3 {
    font-size: 24px;
  }

  .texto-qs p {
    font-size: 16px;
  }

  .prev-qs,
  .next-qs {
    font-size: 46px;
  }

  /*--------- Contato ----------------*/
  .ContatoImg {
    width: 200px;
  }

  .textoContato h1 {
    font-size: 24px;
  }

  .textoContato p {
    font-size: 16px;
    text-align: center;
  }

  .Zap a {
    font-size: 16px;
  }

  #nomeContato,
  #e-mail,
  #mensagemContato,
  .SubmitContato {
    font-size: 16px;
  }

  /*------------ Evento ------------------*/
  .LocalImg {
    width: 200px;
  }

  .MapaText {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
  }

  .TextLocal {
    width: 80vw;
  }

  .TextLocal h1 {
    font-size: 24px;
  }

  .TextLocal p {
    font-size: 16px;
  }

  .Mapa {
    width: 100%;
    padding: 12px;
  }

  /*---------------- Footer ---------------------*/
  .FooterInterno {
    flex-direction: column;
    gap: 20px;
  }

  .Contato h1,
  .Navegue h1 {
    font-size: 28px;
  }

  .Navegue a,
  .Contato a {
    font-size: 18px;
  }

  .Copyright p {
    width: 80%;
    font-size: 16px;
    text-align: center;
  }

  .Contato h2 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  #SectionInicio {
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  /*Separador de Section*/
  .Separador {
    margin-top: -28px;
  }

  .Separador2 {
    margin-bottom: -24px;
  }
}

@media (max-width: 375px) {
  #SectionInicio {
    height: auto;
  }

  /*Separador de Section*/
  .Separador {
    margin-top: -24px;
  }

  .Separador2 {
    margin-bottom: -22px;
  }
}

@media (max-width: 320px) {
  #SectionInicio {
    height: auto;
  }

  /*Separador de Section*/
  .Separador {
    margin-top: -20px;
  }

  .Separador2 {
    margin-bottom: -18px;
  }
}

@media (min-width: 1460px) {
  .ItensNavBar {
    gap: 80px;
  }

  /*---------- Beneficios ------------------*/
  .QuadradoImg {
    width: 480px;
    height: 480px;
  }

  .AboboraBeneficio {
    width: 520px;
  }

  .CocoBeneficio {
    width: 400px;
  }

  #SectionBeneficio {
    padding-bottom: 140px;
  }

  /*-------------------Comentarios ------------------------*/
  #SectionComentarios {
    padding-top: 80px;
  }

  #SectionFormulario {
    padding: 40px 0px;
  }

  /*-------------- Separador ----------------*/
  .Separador {
    margin-top: -88px;
  }

  .Separador2 {
    margin-bottom: -88px;
  }

  .SeparadorImg {
    width: 1200px;
  }

  /*----------- Quem Somos -----------------*/
  .SliderQuemSomosInterno {
    height: 900px;
  }

  .quem-somos-slider {
    width: 96%;
  }

  .texto-qs {
    height: 680px;
    max-width: 1200px;
  }

  .foto-qs {
    width: 520px;
    height: 700px;
  }

  .prev-qs,
  .next-qs {
    font-size: 100px;
  }

  .prev,
  .next {
    font-size: 60px;
  }

  /*----------------------- Footer ------------------*/
  .LinhaContato,
  .LinhaNavegue {
    width: 300px;
  }
}
